@import "tailwindcss";

body {
    background-color: #D9AF8A;
    background-image: url("/images/wood_pattern_bg.webp");
    background-repeat: repeat;
    font-family: 'Grandstander', sans-serif;
}
button {
    cursor: pointer;
}

.logo-home{
    width: 100%;
    max-width: 25em;
    padding: 0 1em;
}

.card-title {
    font-size: clamp(20px, 7vw, 32px);
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 4px black;
    text-shadow: 0 3px 0 black;
    paint-order: stroke fill;
}

.card {
    background-color: #F3CAA7;
    border-radius: 2em;
    border-width: 0;
    box-shadow: inset 2px 2px 0 #9E7B67,
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.card-br {
    background-color: #F3CAA7;
    border-width: 0;
    box-shadow: inset 2px 2px 0 #9E7B67,
    1px 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    padding: 1em;
}

.folder-card .card-br {
    border-top-right-radius: 0;

}

.white-box-container {
    background-color: white;
    padding: 0.8em;
    border-radius: 22px;
    box-shadow: 0 4px 0 #A4A4A4 ;
}


.white-text-box {
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    padding: 0;
}

.chunky-text {
    font-weight: 900;
    font-size: 36px;
}

.bold-text-sma {
    font-weight: bold;
    font-size: 24px;
}

.blue-text {
    color: #5A89BC;
    font-size: 24px;
}

.simple-button {
    width: 100%;
    height: 100%;
    background: linear-gradient(#89F7FE, #66A6FF);
    padding: 0.2em;
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    -1px -1px 3.5px rgba(0,0,0,0.1);
    border-radius: 0.5em;
    font-size: clamp(1em, 3vw, 1.5em);
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
    text-shadow: 0 1px 0 black;
    paint-order: stroke fill;
}
.simple-button:hover {
    background: linear-gradient(#66A6FF, #89F7FE);
    box-shadow: inset 0.5px 0.5px 0 #A1F5F6;
}

.button {
    border-radius: 19px;
    padding: 1em;
    transition: transform ease-in 0.1s,
                box-shadow ease-in 0.1s;
    box-shadow: -1px -1px 3.5px rgba(0,0,0, 0.1);
}

.button:hover {
    transform: translateY(4px);
}

.button span {
    transform: translateY(0);
    /*transition: transform ease-in 0.1s,;*/
}

.button:active span {
    transform: translateY(2px);
}

.button.blue {
    background: linear-gradient(#89F7FE, #66A6FF);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 0 0 #2D527C,
    0 4px 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.blue:hover {
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 0 0 #2D527C,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.blue:active {
    background: #66A6FF;
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 2px 0 #2D527C,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.red {
    background: linear-gradient(#FE6769, #E83D40);
    box-shadow: inset -0.5px -0.5px 0 #FF9496,
    inset 0 0 0 #812123,
    0 4px 0 #812123,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.red:hover {
    box-shadow: inset -0.5px -0.5px 0 #FF9496,
    inset 0 0 0 #812123,
    0 0 0 #812123,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.red:active {
    background: #E83D40;
    box-shadow: inset -0.5px -0.5px 0 #FF9496,
    inset 0 2px 0 #812123,
    0 0 0 #812123,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.silver {
    background: linear-gradient(#C9EAFA, #9AB7D3);
    box-shadow: inset -0.5px -0.5px 0 #DAEEE9,
    inset 0 0 0 #2D527C,
    0 4px 0 #537296,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.silver:hover {
    box-shadow: inset -0.5px -0.5px 0 #DAEEE9,
    inset 0 0 0 #2D527C,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.silver:active {
    background: #9AB7D3;
    box-shadow: inset -0.5px -0.5px 0 #DAEEE9,
    inset 0 2px 0 #537296,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.shadow-text {
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 4px black;
    text-shadow: 0 2px 0 black;
    paint-order: stroke fill;

}

.shadow-text.normal {
    font-size: 1.5em;

}

.shadow-text.large {
    font-size: 2em;
    -webkit-text-stroke: 5px black;
    text-shadow: 0 3px 0 black;

}

.shadow-text.larger {
    font-size: 2em;
    -webkit-text-stroke: 5px black;
    text-shadow: 0 3px 0 black;

}

.shadow-text.largest {
    font-size: 10em;
    -webkit-text-stroke: 10px black;
    text-shadow: 0 10px 0 black;
    paint-order: stroke fill;

}


.emboss {
    box-shadow: -1px -1px 2px rgba(179, 130, 100, 0.5),
    1px 1px 1px rgba(255, 255, 255, 0.5);
}


.tab-list {
    background-color: #D9AF8A;
    border-radius: 17px;
    border-width: 0;
    box-shadow: inset 2px 2px 0 rgba(130, 91, 79, .49),
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.tab-item {
    border-radius: 11px;
    background: linear-gradient(#C9EAFA, #9AB7D3);
    box-shadow: inset -0.6px -0.6px 0 #DAEEE9,
    0 4px 0 #2D527C, -1px -1px 3.5px rgba(0,0,0, 0.1);
    font-weight: normal;
    text-shadow: 0 1px 0 black;
    transition: ease-in 0.1s;
}

.tab-item:not([data-state="active"]) {
    background: none;
    box-shadow: none;
}

.tab-item:not([data-state="active"]):hover {
    background: rgba(130, 91, 79, .3);
    box-shadow: none;
    font-size: 22px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: clamp(0.6em, 1.5vw, 1em);
    overflow: hidden;
    transition: scale ease-in 0.2s;
}

.card-face:hover {

    scale: 104%;
}

.card-face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
}

.card-face.back {
    /*border:  white solid;*/
    transform: rotateY(180deg);
    background-color: #9E7B67;
    box-shadow: inset 0 0 1em #B38264;
}

.enemy-back {
    background-color: transparent;
    transform: rotateY(180deg) scale(0.8);
    opacity: 0;
    transition: opacity 0.5s ease;
}
.guess-card-container {
    position: relative;
    z-index: 1;
    transition: scale ease-in 0.2s;
}

.guess-card-container:hover {
    scale: 104%;
}

.guess-card-container:active {
    scale: 91%;
}

.guess-card-container.expanded {
    z-index: 50;
}

.guess-card-container img {
    display: block;
    width: 100%;
    border-radius: clamp(0.6em, 1.2vw, 1em);
}

.guess-card-overlay {
    opacity: 1;
    position: absolute;
    top: -0.2em;
    left: -0.2em;
    right: -0.2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

    background-color: rgba(230, 32, 35, 0.5);
    backdrop-filter: blur(5px);
    border: 1px solid #FFA3AF;
    box-shadow: 0 0 4px #FFA3AF;
    padding: 0.5em;
    border-radius: 0.8em;
}

.guess-mode-announcement {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(129, 33, 35, 0.9);
    backdrop-filter: blur(5px);
    width: 100%;
    top: 0;
    padding: 1em;
    text-align: center;
    align-content: center;
    z-index: 10;
    height:7.5em;
    border-bottom: #812123 1px solid;
}

.subtitle {
    color: white;
    font-weight: 400;
    max-width: 500px;
}

.subtitle.black{
    color: black;
}

.gameover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
}
.choices-container {
    display: flex;
    gap: 1em;
    z-index: 0;
    pointer-events: none;
}

.choices-container .card-br {
    text-align: center;
    padding: 0em 0.5em;
    border-radius: 1.7em;
    background: #9E7B67;
    flex: 1;
}
.gameover-logo {
    position: relative;
    max-width: 80vw;
    max-height: 9em;
    object-fit: contain;
}

.gameover-card {
    width: clamp(25em, 1.5vw, 5em);
    object-fit: contain;
    border-radius: clamp(0.7em, 5vw, 1.5em);
}

.no-point {
    cursor: default;
}

.game-logo {
    position: relative;
    max-width: 48vw;
    max-height: 6em;
    object-fit: contain;
    align-self: flex-start;
    top: 0.8em;
    left: 1em;
}

.play-gameboard-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    height: 100%;
    width: 100%;
}

.folder-card {
    position: relative;
}

.folder-tab {
    position: absolute;
    top: -2.4em;
    right: 0;
    margin: 0;
    padding: 0.5em 1em;
    background-color: #F3CAA7;
    border-radius: 1em 1em 0 0;
    box-shadow: inset 2px 2px 0 #9E7B67,
    0 1px 0 #F3CAA7,
    1px 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 1.1em;
    white-space: nowrap;
}

.gameboard{
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 0.4em;
    row-gap: 0;
}


.endturn-srn-lg-container{
    position: relative;
    width: min-content;
    height: min-content;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 26px;
    padding-top: 1px;
    background-color: #F3CAA7;
    border-radius: 0 0 2em 2em;
    border-width: 0;
    box-shadow: inset 6px 0px 0 #9E7B67,
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.game-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 14em;
    gap: 1em;
    pointer-events: none;
    /*background-color: #66A6FF;*/
}

.play-chosen-card{
    aspect-ratio: 3 / 4;
    object-fit: contain;
    height: 100%;
    border-radius: 1em;

}

.enemy-board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.3em;
    /*background-color: #812123;*/
    height: 100%;
    align-content: stretch;
}

.enemy-board > div {
    aspect-ratio: 3 / 4;
    height: 100%;
}

.endturn-logo {
    bottom: 0;
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

.right {
    display: flex;
    flex-direction: column;
    width: min-content;
    justify-content: space-between;
}

.players-card {
    padding: 1em;
}

.lobby-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 1em;
    max-width: 100%;
    /*height: 100vh;*/
    max-height: 800px;
    align-items: center;
    justify-content: center;
    /*background-color: #89F7FE;*/
}

.lobby-side-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    justify-content: space-between;
    /*background-color: deeppink;*/

}

.lobby-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    overflow: hidden;
    justify-content: center;
    /*background-color: pink;*/

}

.drawer-card{
    border-radius: clamp(0.4em, 1.2vw, 1em);
}

.dialog-card{
    border-radius: 0.5em
}

.separate {
    margin-top: 0.5em;
    box-shadow: 0 -1px 0 #D9AF8A;
}

.picker-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /*padding: 0.5em;*/
    /*overflow: hidden;*/
}

.icon-button {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition:
            transform 0.1s ease-in,
            box-shadow 0.1s ease,
            background 0.1s ease;
    /*padding: 1em;*/
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.deck-container {
    display: grid;
    gap: 0.5em;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.deck-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2D527C;
    border-radius: 0.5em;
    color: #2D527C;
    background-color: rgba(45, 82, 124, 0.3);
    font-weight: bold;
    width: 100%;
    transition: all 0.2s ease;
    padding: 0.5em 1em;
}

.deck-button:hover {
    background-color: #2D527C;
    color: white;
}

/* Blue Variant */
.icon-button.blue {
    background: linear-gradient(#89F7FE, #66A6FF);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 0 0 #2D527C,
    0 4px 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.icon-button.blue:hover {
    transform: translateY(4px);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 0 0 #2D527C,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.icon-button.blue:active {
    background: linear-gradient(#66A6FF, #66A6FF);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 2px 0 #2D527C,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

/* Silver Variant */
.icon-button.silver {
    background: linear-gradient(#C9EAFA, #9AB7D3);
    box-shadow: inset -0.5px -0.5px 0 #DAEEE9,
    inset 0 0 0 #2D527C,
    0 4px 0 #537296,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.icon-button.silver:hover {
    transform: translateY(4px);
    box-shadow: inset -0.5px -0.5px 0 #DAEEE9,
    inset 0 0 0 #2D527C,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.icon-button.silver:active {
    background: linear-gradient(#9AB7D3, #9AB7D3);
    box-shadow: inset -0.5px -0.5px 0 #DAEEE9,
    inset 0 2px 0 #537296,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}


.icon-wrapper {
    font-size: 1em;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.lucide-outline,
.lucide-top {
    width: 2em;
    height: 2em;
    overflow: visible;
    padding: 0.1em;
}

.lucide-outline {
    stroke: black;
    stroke-width: 6px;
    fill: none;
    z-index: 0;
    position: absolute;
    filter: none;
}

.lucide-top {
    stroke: white;
    stroke-width: 2.5px;
    fill: none;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0 4px 0 black);
}

.user-circle{
    background: #D9AF8A;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.user-circle svg {
    transform: translateY(-3px);
}



@media (min-width: 483px) and (max-width: 1024px) {
    .lobby-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        height: auto;
        max-height: none;
    }

    .lobby-side-bar {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        align-items: start;
    }

    .lobby-side-bar > .space-y-5 {
        display: grid;
        grid-template-columns: 50% minmax(0, 1fr);
        gap: 1em;
        align-items: center;
        justify-items: self-end;
        width: 100%;
        /*background: #2D527C;*/
    }

    .lobby-logo {
        grid-column: 1;
        width: 100%;
        max-width: 20em;
        height: auto;
        justify-self: start;
    }

    .lobby-side-bar .white-box-container {
        grid-column: 2;
        width: 100%;
        max-width: 22em;
    }

    .lobby-side-bar > .players-card,
    .lobby-side-bar > .blue-button {
        grid-column: 1;
        width: 100%;
    }

    .gameboard {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}


@media (max-width: 482px) {
    .lobby-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        height: auto;
        max-height: none;
    }

    .lobby-side-bar {
        justify-self: center;
        order: 1;
        width: 100%;
    }

    .lobby-main {
        order: 2;
    }

    .lobby-logo {
        max-width: 70vw;
        align-self: center;
        justify-self: center;
        margin: 0.5em auto;
    }

    .card-content {
        padding: 0em 0.5em;
    }

    .card-br {
        padding: 1em 0.5em;
    }

    .gameboard{
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 0.2em;
    }

    .game-logo {
        left: 0.5em;
    }

    .guess-card-overlay {
        padding: 0.1em;
        gap: 0.2em;
        border-radius: 0.5em;
    }

    .game-area {
        height: 11em;
    }

    .enemy-board {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        }

    .guess-mode-announcement {
        align-items: start;
        height: 5.6em;
        text-align: left;
    }
    .guess-mode-announcement .shadow-title {
        font-size: 1.5em;
    }

    .guess-mode-announcement .subtitle {
        font-size: 0.9em;
        line-height: 1.2em;
    }

    .choices-container .card-br {
        border-radius: 1.5em;
    }

    .shadow-text.normal{
        /*font-size: 1.1em;*/
    }

}
