@import "tailwindcss";

body {
    background-color: #D9AF8A;
    background-image: url("/images/wood.png");
    background-blend-mode: darken;
    background-repeat: repeat;
    font-family: 'Grandstander', sans-serif;
}
button {
    cursor: pointer;
}

.logo-home{
    width: 25em;
}

.card-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 4px black;
    text-shadow: 0 3px 0 black;
    paint-order: stroke fill;
}

.card {
    background-color: #F3CAA7;
    border-radius: 2em;
    border-width: 0;
    box-shadow: inset 6px 7px 0 #9E7B67,
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.white-box-container {
    background-color: white;
    padding: 15px;
    border-radius: 22px;
    box-shadow: 0 4px 0 #A4A4A4 ;
}

.white-text-box {
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    padding: 0;
}

.chunky-text {
    font-weight: 900;
    font-size: 36px;
}

.blue-text {
    color: #5A89BC;
    font-size: 24px;
}

.blue-button {
    border-radius: 19px;
    padding: 1em;
    background: linear-gradient(#89F7FE, #66A6FF);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    0 4px 0 #2D527C, -1px -1px 3.5px rgba(0,0,0, 0.1);
    transition: ease-in 0.1s;
}

.blue-button:hover {
    transform: translateY(4px);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    0 0 0 #2D527C, -1px -1px 3.5px rgba(0,0,0, 0.1);
}

.shadow-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 4px black;
    text-shadow: 0 3px 0 black;
    paint-order: stroke fill;
}

.tab-list {
    background-color: #D9AF8A;
    border-radius: 17px;
    border-width: 0;
    box-shadow: inset 6px 7px 0 rgba(130, 91, 79, .49),
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.tab-item {
    border-radius: 11px;
    background: linear-gradient(#C9EAFA, #9AB7D3);
    box-shadow: inset -0.6px -0.6px 0 #DAEEE9,
    0 4px 0 #2D527C, -1px -1px 3.5px rgba(0,0,0, 0.1);
    font-weight: normal;
    text-shadow: 0 1px 0 black;
    transition: ease-in 0.1s;
}

.tab-item:not([data-state="active"]) {
    background: none;
    box-shadow: none;
}

.tab-item:not([data-state="active"]):hover {
    background: rgba(130, 91, 79, .3);
    box-shadow: none;
    font-size: 22px;
}