@import "tailwindcss";

body {
    background-color: #D9AF8A;
    background-image: url("/images/wood.png");
    background-blend-mode: darken;
    background-repeat: repeat;
    font-family: 'Grandstander', sans-serif;
}
button {
    cursor: pointer;
}

.logo-home{
    width: 25em;
}

.card-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 4px black;
    text-shadow: 0 3px 0 black;
    paint-order: stroke fill;
}

.card {
    background-color: #F3CAA7;
    border-radius: 2em;
    border-width: 0;
    box-shadow: inset 6px 7px 0 #9E7B67,
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.card-br {
    background-color: #F3CAA7;
    border-width: 0;
    box-shadow: inset 6px 7px 0 #9E7B67,
    1px 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 2em;
}

.white-box-container {
    background-color: white;
    padding: 15px;
    border-radius: 22px;
    box-shadow: 0 4px 0 #A4A4A4 ;
}

.white-text-box {
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    padding: 0;
}

.chunky-text {
    font-weight: 900;
    font-size: 36px;
}

.blue-text {
    color: #5A89BC;
    font-size: 24px;
}

.blue-button {
    border-radius: 19px;
    padding: 1em;
    background: linear-gradient(#89F7FE, #66A6FF);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 0 0 #2D527C,
    0 4px 0 #2D527C, -1px -1px 3.5px rgba(0,0,0, 0.1);
    transition: all ease-in 0.1s,
gr ease 0.1s;
    /*scale: 110%;*/
}

.blue-button:hover {
    transform: translateY(0.5rem);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 0 0 #2D527C,
    0 0 0 #2D527C, -1px -1px 3.5px rgba(0,0,0, 0.1);

}

.blue-button:active {
    background: linear-gradient(#66A6FF, #66A6FF);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 2px 0 #2D527C,
    0  0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0, 0.1);
}

.blue-button span {
    /*color: white;*/
    transform: translateY(0);
    transition: all ease-in 0.1s;
}

.blue-button:active span{
    /*color: lightgray;*/
    transform: translateY(2px);
}

.play-guess-button {
    border-radius: 20px;
    padding: 0.4em 0.4em 0.4em 0.4em;
    background: linear-gradient(#89F7FE, #66A6FF);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    0 0.5rem 0 #2D527C, -1px -1px 3.5px rgba(0,0,0, 0.1);
    transition: ease-in 0.1s;
    height: calc(100% - 0.5rem);
    margin-bottom: 0.5rem;

}

.play-guess-button:hover {
    transform: translateY(4px);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    0 0 0 #2D527C, -1px -1px 3.5px rgba(0,0,0, 0.1);
}

.shadow-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 4px black;
    text-shadow: 0 3px 0 black;
    paint-order: stroke fill;
}

.emboss {
    box-shadow: -1px -1px 2px rgba(179, 130, 100, 0.5),
    1px 1px 1px rgba(255, 255, 255, 0.5);
}


.tab-list {
    background-color: #D9AF8A;
    border-radius: 17px;
    border-width: 0;
    box-shadow: inset 6px 7px 0 rgba(130, 91, 79, .49),
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.tab-item {
    border-radius: 11px;
    background: linear-gradient(#C9EAFA, #9AB7D3);
    box-shadow: inset -0.6px -0.6px 0 #DAEEE9,
    0 4px 0 #2D527C, -1px -1px 3.5px rgba(0,0,0, 0.1);
    font-weight: normal;
    text-shadow: 0 1px 0 black;
    transition: ease-in 0.1s;
}

.tab-item:not([data-state="active"]) {
    background: none;
    box-shadow: none;
}

.tab-item:not([data-state="active"]):hover {
    background: rgba(130, 91, 79, .3);
    box-shadow: none;
    font-size: 22px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1em;
    overflow: hidden;
}

.card-face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
}

.card-face.back {
    /*border:  white solid;*/
    transform: rotateY(180deg);
    background-color: #9E7B67;
    box-shadow: inset 0 0 1em #B38264;
}

.enemy-back {
    background-color: transparent;
    transform: rotateY(180deg) scale(0.8);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.no-point {
    cursor: default;
}

.play-gameboard-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 1em;
    text-align: center;
    height: 100%;
    width: 100%;
}
.grid-8{
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 0.4em;
    row-gap: 0.4em;
}

.endturn-srn-lg-container{
    position: relative;
    width: min-content;
    height: min-content;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 26px;
    padding-top: 1px;
    background-color: #F3CAA7;
    border-radius: 0 0 2em 2em;
    border-width: 0;
    box-shadow: inset 6px 0px 0 #9E7B67,
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.play-chosen-card{
    aspect-ratio: 3 / 4;
    object-fit: contain;
    display: block;
    border-radius: 1em;

}


.game-area {
    display: grid;
    grid-template-columns: 1fr 55.12% 1fr;
    gap: 0.5em;
    width: 100%;
    height: 100%;
    align-items: center;
}

.guess-button{
    display: grid;
    grid-template-rows: 88% 1fr;
    padding-bottom: 0.5em;
    height: 100%;
    width: 100%;
}
.guess-button-user {
    position: relative;
    height: 100%;
    width: 100%;
    background: radial-gradient(#66CEFC, #4293E5);
    border-radius: 0.5em;
    overflow: hidden;
}

.guess-user-svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: auto;
    max-height: 90%;
    mix-blend-mode: luminosity;
}

.endturn-logo {
    bottom: 0;
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

.right {
    display: flex;
    flex-direction: column;
    width: min-content;
    justify-content: space-between;
}
