@import "tailwindcss";

body {
    background-color: #D9AF8A;
    background-image: url("/images/wood_pattern_bg.webp");
    background-repeat: repeat;
    font-family: 'Grandstander', sans-serif;
}
button {
    cursor: pointer;
}

.logo-home{
    width: 100%;
    max-width: 25em;
    padding: 0 1em;
}

.card-title {
    font-size: clamp(20px, 7vw, 32px);
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 4px black;
    text-shadow: 0 3px 0 black;
    paint-order: stroke fill;
}

.card {
    background-color: #F3CAA7;
    border-radius: 2em;
    border-width: 0;
    box-shadow: inset 2px 2px 0 #9E7B67,
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.card-br {
    background-color: #F3CAA7;
    border-width: 0;
    box-shadow: inset 2px 2px 0 #9E7B67,
    1px 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 1em;
    padding: 1em;
}

.folder-card .card-br {
    border-top-right-radius: 0;

}

.white-box-container {
    background-color: white;
    padding: 0.8em;
    border-radius: 22px;
    box-shadow: 0 4px 0 #A4A4A4 ;
}


.white-text-box {
    border-radius: 0;
    border-width: 0;
    box-shadow: none;
    padding: 0;
}

.chunky-text {
    font-weight: 900;
    font-size: 36px;
}

.bold-text-sma {
    font-weight: bold;
    font-size: 24px;
}

.blue-text {
    color: #5A89BC;
    font-size: 24px;
}

.button {
    border-radius: 19px;
    padding: 1em;
    transition: transform ease-in 0.1s,
                box-shadow ease-in 0.1s;
    box-shadow: -1px -1px 3.5px rgba(0,0,0, 0.1);
}

.button:hover {
    transform: translateY(4px);
}

.button span {
    transform: translateY(0);
    /*transition: transform ease-in 0.1s,;*/
}

.button:active span {
    transform: translateY(2px);
}

.button.blue {
    background: linear-gradient(#89F7FE, #66A6FF);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 0 0 #2D527C,
    0 4px 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.blue:hover {
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 0 0 #2D527C,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.blue:active {
    background: #66A6FF;
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 2px 0 #2D527C,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.red {
    background: linear-gradient(#FE6769, #E83D40);
    box-shadow: inset -0.5px -0.5px 0 #FF9496,
    inset 0 0 0 #812123,
    0 4px 0 #812123,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.red:hover {
    box-shadow: inset -0.5px -0.5px 0 #FF9496,
    inset 0 0 0 #812123,
    0 0 0 #812123,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.red:active {
    background: #E83D40;
    box-shadow: inset -0.5px -0.5px 0 #FF9496,
    inset 0 2px 0 #812123,
    0 0 0 #812123,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.silver {
    background: linear-gradient(#C9EAFA, #9AB7D3);
    box-shadow: inset -0.5px -0.5px 0 #DAEEE9,
    inset 0 0 0 #2D527C,
    0 4px 0 #537296,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.silver:hover {
    box-shadow: inset -0.5px -0.5px 0 #DAEEE9,
    inset 0 0 0 #2D527C,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.button.silver:active {
    background: #9AB7D3;
    box-shadow: inset -0.5px -0.5px 0 #DAEEE9,
    inset 0 2px 0 #537296,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}


.play-guess-button {
    border-radius: 20px;
    padding: 0.4em 0.4em 0.4em 0.4em;
    background: linear-gradient(#89F7FE, #66A6FF);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    0 0.5rem 0 #2D527C, -1px -1px 3.5px rgba(0,0,0, 0.1);
    transition: ease-in 0.1s;
    height: calc(100% - 0.5rem);
    margin-bottom: 0.5rem;

}

.play-guess-button:hover {
    transform: translateY(4px);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    0 0 0 #2D527C, -1px -1px 3.5px rgba(0,0,0, 0.1);
}

.shadow-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 4px black;
    text-shadow: 0 3px 0 black;
    paint-order: stroke fill;
}

.shadow-title {
    font-size: 32px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 4px black;
    text-shadow: 0 2px 0 black;
    paint-order: stroke fill;
}


.emboss {
    box-shadow: -1px -1px 2px rgba(179, 130, 100, 0.5),
    1px 1px 1px rgba(255, 255, 255, 0.5);
}


.tab-list {
    background-color: #D9AF8A;
    border-radius: 17px;
    border-width: 0;
    box-shadow: inset 2px 2px 0 rgba(130, 91, 79, .49),
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.tab-item {
    border-radius: 11px;
    background: linear-gradient(#C9EAFA, #9AB7D3);
    box-shadow: inset -0.6px -0.6px 0 #DAEEE9,
    0 4px 0 #2D527C, -1px -1px 3.5px rgba(0,0,0, 0.1);
    font-weight: normal;
    text-shadow: 0 1px 0 black;
    transition: ease-in 0.1s;
}

.tab-item:not([data-state="active"]) {
    background: none;
    box-shadow: none;
}

.tab-item:not([data-state="active"]):hover {
    background: rgba(130, 91, 79, .3);
    box-shadow: none;
    font-size: 22px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 0.6em;
    overflow: hidden;
}

.card-face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
}

.card-face.back {
    /*border:  white solid;*/
    transform: rotateY(180deg);
    background-color: #9E7B67;
    box-shadow: inset 0 0 1em #B38264;
}

.enemy-back {
    background-color: transparent;
    transform: rotateY(180deg) scale(0.8);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.no-point {
    cursor: default;
}

.game-logo {
    position: relative;
    max-width: 48vw;
    max-height: 6em;
    object-fit: contain;
    align-self: flex-start;
    top: 0.8em;
    left: 1em;
}

.play-gameboard-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    height: 100%;
    width: 100%;
}

.folder-card {
    position: relative;
}

.folder-tab {
    position: absolute;
    top: -2.4em;
    right: 0;
    margin: 0;
    padding: 0.5em 1em;
    background-color: #F3CAA7;
    border-radius: 1em 1em 0 0;
    box-shadow: inset 2px 2px 0 #9E7B67,
    0 1px 0 #F3CAA7,
    1px 1px 0 rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 1.1em;
    white-space: nowrap;
}

.gameboard{
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 0.4em;
    row-gap: 0;
}



.enemy-board {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 0.3em;
    row-gap: 0;
}

.endturn-srn-lg-container{
    position: relative;
    width: min-content;
    height: min-content;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 26px;
    padding-top: 1px;
    background-color: #F3CAA7;
    border-radius: 0 0 2em 2em;
    border-width: 0;
    box-shadow: inset 6px 0px 0 #9E7B67,
    1px 1px 0 rgba(255, 255, 255, 0.5);
}

.play-chosen-card{
    aspect-ratio: 3 / 4;
    object-fit: contain;
    display: block;
    border-radius: 1em;

}


.game-area {
    display: grid;
    grid-template-columns: 1fr 55.12% 1fr;
    gap: 0.5em;
    width: 100%;
    height: 100%;
    align-items: center;
}

.guess-button{
    display: grid;
    grid-template-rows: 88% 1fr;
    padding-bottom: 0.5em;
    height: 100%;
    width: 100%;
}
.guess-button-user {
    position: relative;
    height: 100%;
    width: 100%;
    background: radial-gradient(#66CEFC, #4293E5);
    border-radius: 0.5em;
    overflow: hidden;
}

.guess-user-svg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: auto;
    max-height: 90%;
    mix-blend-mode: luminosity;
}

.endturn-logo {
    bottom: 0;
    max-width: 100%;
    height: auto;
    pointer-events: none;
}

.right {
    display: flex;
    flex-direction: column;
    width: min-content;
    justify-content: space-between;
}



.players-card {
    padding: 1em;
}

.lobby-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 1em;
    width: 100%;
    /*height: 100vh;*/
    max-height: 800px;
    align-items: center;
    justify-content: center;
    /*background-color: #89F7FE;*/
}

.lobby-side-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    justify-content: space-between;
    /*background-color: deeppink;*/

}

.lobby-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    overflow: hidden;
    justify-content: center;
    /*background-color: pink;*/

}


.separate {
    margin-top: 0.5em;
    box-shadow: 0 -1px 0 #D9AF8A;
}

.picker-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /*padding: 0.5em;*/
    /*overflow: hidden;*/
}

.icon-button {
    width: 50px;
    height: 50px;
    border-radius: 19px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition:
            transform 0.1s ease-in,
            box-shadow 0.1s ease,
            background 0.1s ease;
    /*padding: 1em;*/
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}

.deck-container {
    display: grid;
    gap: 0.5em;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.deck-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2D527C;
    border-radius: 0.5em;
    color: #2D527C;
    background-color: rgba(45, 82, 124, 0.3);
    font-weight: bold;
    width: 100%;
    transition: all 0.2s ease;
    padding: 0.5em 1em;
}

.deck-button:hover {
    background-color: #2D527C;
    color: white;
}

/* Blue Variant */
.icon-button.blue {
    background: linear-gradient(#89F7FE, #66A6FF);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 0 0 #2D527C,
    0 4px 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.icon-button.blue:hover {
    transform: translateY(4px);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 0 0 #2D527C,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.icon-button.blue:active {
    background: linear-gradient(#66A6FF, #66A6FF);
    box-shadow: inset -0.5px -0.5px 0 #A1F5F6,
    inset 0 2px 0 #2D527C,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

/* Silver Variant */
.icon-button.silver {
    background: linear-gradient(#C9EAFA, #9AB7D3);
    box-shadow: inset -0.5px -0.5px 0 #DAEEE9,
    inset 0 0 0 #2D527C,
    0 4px 0 #537296,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.icon-button.silver:hover {
    transform: translateY(4px);
    box-shadow: inset -0.5px -0.5px 0 #DAEEE9,
    inset 0 0 0 #2D527C,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}

.icon-button.silver:active {
    background: linear-gradient(#9AB7D3, #9AB7D3);
    box-shadow: inset -0.5px -0.5px 0 #DAEEE9,
    inset 0 2px 0 #537296,
    0 0 0 #2D527C,
    -1px -1px 3.5px rgba(0,0,0,0.1);
}


.icon-wrapper {
    font-size: 1em;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.lucide-outline,
.lucide-top {
    width: 2em;
    height: 2em;
    overflow: visible;
    padding: 0.1em;
}

.lucide-outline {
    stroke: black;
    stroke-width: 6px;
    fill: none;
    z-index: 0;
    position: absolute;
    filter: none;
}

.lucide-top {
    stroke: white;
    stroke-width: 2.5px;
    fill: none;
    z-index: 1;
    position: absolute;
    filter: drop-shadow(0 4px 0 black);
}

.user-circle{
    background: #D9AF8A;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.user-circle svg {
    transform: translateY(-3px);
}



@media (min-width: 483px) and (max-width: 1024px) {
    .lobby-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        height: auto;
        max-height: none;
    }

    .lobby-side-bar {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        align-items: start;
    }

    .lobby-side-bar > .space-y-5 {
        display: grid;
        grid-template-columns: 50% minmax(0, 1fr);
        gap: 1em;
        align-items: center;
        justify-items: self-end;
        width: 100%;
        /*background: #2D527C;*/
    }

    .lobby-logo {
        grid-column: 1;
        width: 100%;
        max-width: 20em;
        height: auto;
        justify-self: start;
    }

    .lobby-side-bar .white-box-container {
        grid-column: 2;
        width: 100%;
        max-width: 22em;
    }

    .lobby-side-bar > .players-card,
    .lobby-side-bar > .blue-button {
        grid-column: 1;
        width: 100%;
    }

}


@media (max-width: 482px) {
    .lobby-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        height: auto;
        max-height: none;
    }

    .lobby-side-bar {
        justify-self: center;
        order: 1;
        width: 100%;
    }

    .lobby-main {
        order: 2;
    }

    .lobby-logo {
        max-width: 70vw;
        align-self: center;
        justify-self: center;
        margin: 0.5em auto;
    }

    .card-content {
        padding: 0em 0.5em;
    }

    .card-br {
        padding: 1em 0.5em;
    }

    .gameboard{
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .gameboard > .card:nth-last-child(-n+5) {
        justify-self: center;
    }

    .game-logo {
        left: 0.5em;
    }

}
